*{
    margin: 0%;
    padding: 2px;
   
}



.container{
    border-radius: 50px;
    max-width: 80%;
    background-color: rgb(218, 214, 214);
    padding: 25px;
    opacity: 90%;
    margin: 95px;
}
.container h3,p{
    border-radius: 60px;
    background-color: rgb(230, 62, 62);
    text-align: center;
    margin: auto;

}
input , textarea{
    border: 2px solid black;
    border-radius: 12px;
    width: 65%;
    margin: 6px auto;
    padding: 7px;
    font-size: 16px;
    display: block;
}
button{
    background-color: rgb(241, 140, 140);
    text-align: center;
    padding: 4px;
    margin: 5px 215px;
    border-radius: 4px;
}
.bg{
width: 100%;
position: absolute;
z-index: -1;    
}